<form [formGroup]="addCityForm" (ngSubmit)="addCity()">
  <div class="input-group mb-3">
    <input type="text" class="form-control" formControlName="city" placeholder="Type City Name"
      [class.is-invalid]="city.touched && city.invalid">
    <div class="input-group-append">
      <input type="submit" value="+" class="btn btn-success">
    </div>
  </div>
   
</form>

<h4 class="text-white mb-3" *ngIf="cities.length != 0">Recent Locations</h4>
<ul class="list-unstyled text-white">
  <li class="mb-1 w-100 pull-left" *ngFor="let city of cities; let i = index">
    <a [routerLink]="['city', city.name]">
      {{ city.name | titlecase }} - {{ celsius(city.main.temp) }}C {{city.weather[0].main}}</a>
    <span class="pull-right">
      <button (click)="updateWeather(i)"  class="btn btn-link text-white">
        <fa name="refresh" class="mr-2"></fa>
      </button>
      <button (click)="removeCity(i)" class="btn btn-link text-white">
        <fa name="close"></fa>
      </button>
    </span>
  </li>
</ul>
<div class="w-100 text-right" *ngIf="cities.length != 0">
  <button class="btn btn-danger" (click)="removeAll()">Clear</button>
</div>