<div class="w-100" *ngIf="isCities">
  <h4 class="bg-light text-dark p-3 rounded">{{ cityDetails.name }}
      <button class="pull-right btn btn-link text-dark"><fa name="refresh" class="mr-2"></fa></button>  
  </h4>

 <div class="row">
    <div class="col-md-5 col-sm-6 col-6">
        <img src="./assets/svg/cloudy-day-1.svg" width="250">
    </div>
    <div class="col-md-7 col-sm-6 col-6">
      <ul class="list-unstyled mt-5">
        <li class="mb-2">{{ celsius(cityDetails.main.temp) }}C</li>
        <li class="mb-2">{{ cityDetails.weather.main }}</li>
        <li class="mb-2">Wind: {{ cityDetails.wind.speed }}ms {{ cityDetails.wind.deg }} deg</li>
        <li class="mb-2">Pressure {{ cityDetails.main.pressure }}</li>
      </ul>
    </div>


  </div>

</div>
  <div class="row">
    
    <div class="col-2 text-center" *ngFor="let days of fiveDayDetails; let i = index">
      <div class="bg-light text-dark p-2">{{ days.dt *  1000 | date:'dd' }} <br >
        {{ days.dt *  1000 | date:'EEE'}}</div>
      <img src="./assets/svg/cloudy-day-{{ i + 1 }}.svg" width="100%">
      <div class="bg-light text-dark p-2">
        {{ celsius(days.temp.day) | number : '1.2-2' }}C</div>
    </div>

  </div>
<div class="alert alert-success text-center pt-5 pb-5 mb-0" *ngIf="!isCities">Loading... Please Wait</div>